<div class="body">
  <!-- <app-employee-list></app-employee-list> -->
  <!-- <app-demo1></app-demo1> -->
  <!-- <app-products></app-products> -->
  <!-- <app-employee-crud></app-employee-crud> -->
  <!-- <app-pipes-demo></app-pipes-demo> -->
  <!-- <app-empcrud></app-empcrud> -->
  <!-- <app-empcomp></app-empcomp> -->
  <!-- <app-httpclientdemo></app-httpclientdemo> -->
  <!-- <app-todo></app-todo> -->
  <!-- <app-template-drivenform></app-template-drivenform> -->
  <!-- <app-model-drivenform></app-model-drivenform> -->
  <!-- <app-formassignment></app-formassignment> -->
  <router-outlet></router-outlet>
  <app-folderstructure-assignment></app-folderstructure-assignment>
</div>