<h3 class="text-center">Let's Learn DataBinding</h3>

<div class="border border-3 rounded-3 p-2 m-2">
  <div>My Name is: {{myName}}</div>
  <div>My Name is: <span [innerText]="myName"></span></div>
  <div>My Name is: <span bind-innerText="myName"></span></div>

  <img src="{{img_url}}" width="300" height="300" class="mx-1" />
  <img [src]="img_url" width="300" height="300" class="mx-1" />
  <img bind-src="img_url" width="300" height="300" class="mx-1 my-2" />

  <div>
    <input placeholder="Enter something..." value="mobile" />
    1 way: <input value={{myName}} class="mx-2" />
    1 way: <input [value]=myName class="mx-2" />
    1 way:<input bind-value=myName class="mx-2" />
    2 way:<input [(ngModel)]="myName" class="mx-2" />
  </div>

  <div>Interpolation VS property Binding</div>
  <button class="btn btn-primary" (click)="addToCart()">Add To Cart</button>
  <button class="btn btn-primary mx-2" on-click="addToCart()">Add To Cart</button>
  <!-- <button class="btn btn-primary mx-2" disabled>Add To Cart</button> -->
  <button class="btn btn-primary mx-2" disabled={{flag}}>Add To Cart</button>
  <button class="btn btn-primary mx-2" [disabled]=flag>Add To Cart</button>
  <button class="btn btn-primary mx-2" bind-disabled=flag>Add To Cart</button>
</div>


<div class="border border-3 rounded-3 p-2 m-2">
  <div>1. Have a paragraph & a toggle button, on click of the button control the visibility(Show/Hide) of the paragraph
  </div>
  <h1 [hidden]="!isitvis">Helloooooooooooooooooooooooo</h1>
  <button class="btn btn-primary" (click)="totoggel()">{{isitvis?"Hide":"Show"}}</button>
</div>

<div class="border border-3 rounded-3 p-2 m-2">
  <div>2. Create a text-area with maxLength=100, as the user keeps typing display updated Remaining characters.</div>
  <textarea [(ngModel)]="textmax" [maxlength]="textmaxlen"></textarea>
  <div>Remaining Chars: {{textmaxlen-textmax.length}}</div>
</div>

<div class="border border-3 rounded-3 p-2 m-2">
    <div>3.Create dropdown with state names, when user changes dropdown value, print the selected dropdown value in a div</div>
    <select [(ngModel)]="stateselected">
        <option >VA</option>
        <option >TX</option>
        <option >NY</option>
        <option >CA</option>
        <option >FL</option>
    </select>
    <div>state selected:{{stateselected}}</div>
  </div>

  <div class="border border-3 rounded-3 p-2 m-2">
    <div>have 2 inputBoxes, and a dropdown(+,-,*,/) and perform arithmetic operations.</div>
    <input type="number" [(ngModel)]="firstnumber">
    <input type="number" [(ngModel)]="secondnumber">
    <select [(ngModel)]="opt">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <div>
        Output:{{
            opt=="+"?firstnumber+secondnumber :
            opt=="-"?firstnumber-secondnumber :
            opt=="*"?firstnumber*secondnumber :
            opt=="/"?firstnumber/secondnumber :
            0
        }}
    </div>
  </div>

  <div class="border border-3 rounded-3 p-2 m-2">
    <div>5.Create the inp box and toggel text to pass and vice verca</div>
    <input type="{{flag ? 'text' : 'password'}}"/>
    <button class="btn btn-primary mx-2" (click)="flag=!flag">Toggel</button>
  </div>

  <div class="border border-3 rounded-3 p-2 m-2">
    <div>5.Create the inp box and toggel text to pass and vice verca</div>
    <input type="{{flag ? 'text' : 'password'}}"/>
    <button class="btn btn-primary mx-2" (click)="flag=!flag">Toggel</button>
  </div>
  
  
  <div class="border border-3 rounded-3 p-2 m-2">
    <div>6.create a counter example with 3 controls(increment,decrement,reset)</div>
    <h3>Present counter value:{{count}}</h3>
    <button class="btn btn-primary mx-2" (click)="count=count+1">increment</button>
    <button class="btn btn-primary mx-2" (click)="count=count-1">decrement</button>
    <button class="btn btn-primary mx-2"(click)="count=0">reset</button>
  </div>

  <div class="border border-3 rounded-3 p-2 m-2" [style.backgroundColor]='color'>
    <div>7.Have a toggle button and control Dark/Light theme of a page.</div>
    <button class="btn btn-primary mx-2" (click)="color=color=='black'?'white':'black'" >toggel</button>
  </div>





