<div class="container">
  <div class="row">
    <div class="col">
      <div class="category">
        <img src="https://m.media-amazon.com/images/G/01/HST/AHI/Desktop/WebpImages/Illustrations/AP_PrimaryTile_Desktop.webp" alt="" height="64" width="64">
        <div>Pharmacy</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <img src="https://m.media-amazon.com/images/I/41DJvurFQ-L._SY301_FMpng_.png" alt="" height="64" width="64">
        <div>Groceries</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <img src="https://m.media-amazon.com/images/G/01/GiftCards/Flyout/Consumer/2025/Lifestyle_Test/Flyout_Nav_Shop-All_TL_EN.png" alt="" height="64" width="64">
        <div>Gift Cards</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <img src="https://rukminim2.flixcart.com/fk-p-flap/128/128/image/3d7144345bbcf2e4.png?q=100" alt="" height="64" width="64">
        <div>Toys</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <img src="https://rukminim2.flixcart.com/fk-p-flap/128/128/image/d9eea6cd0e7b68bb.png?q=100" alt="" height="64" width="64">
        <div>Flight Booking</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <img src="https://images-na.ssl-images-amazon.com/images/G/01/DiscoTec/2025/BTSOTC/Homepage/Quads/DQC/BTSOTC_25_2526_GW_DQC_OTC_College-Essentials_2d_Fashion_2x_372x232._SY232_CB795804180_.jpg" alt="" height="64" width="64">
        <div>Fashion</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="category">
        <img src="https://images-na.ssl-images-amazon.com/images/G/01/DiscoTec/2025/BTSOTC/Homepage/Quads/DQC/BTSOTC_25_2437_GW_DQC_BTS_Deals_3c_Backpacks_2x._SY232_CB791047418_.jpg" alt="" height="64" width="64">
        <div>Back packs</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <img src="https://images-na.ssl-images-amazon.com/images/G/01/DiscoTec/2025/BTSOTC/Homepage/Quads/DQC/BTSOTC_25_2524_GW_DQC_OTC_College-Essentials_2b_Electronics_2x_372x232._SY232_CB795656346_.jpg" alt="" height="64" width="64">
        <div>Electronics</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <img src="https://images-na.ssl-images-amazon.com/images/G/01/DiscoTec/2025/Collections/CurrentObsessions/HomePage/QuadCard/CURRENT_OBSESSIONS_25_142_GW-HP_DQC_Home_SW_2x._SY232_CB793466464_.jpg" alt="" height="64" width="64">
        <div>Home</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <img src="https://images-na.ssl-images-amazon.com/images/G/01/DiscoTec/2025/BTSOTC/Homepage/Quads/DQC/BTSOTC_25_2587_GW_DQC_OTC_College_under25_1a_Kitchen_2x_372x232._SY232_CB795659444_.jpg" alt="" height="64" width="64">
        <div>Kitchen</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <img src="https://images-na.ssl-images-amazon.com/images/G/01/DiscoTec/2025/BTSOTC/Homepage/Quads/DQC/BTSOTC_25_2650_GW_DQC_OTC_Beauty_1b_Skincare_2x_372x232._SY232_CB795807467_.jpg" alt="" height="64" width="64">
        <div>Skin care</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <img src="https://m.media-amazon.com/images/I/91ZVf3kNrcL._AC_SY400_.jpg" alt="" height="64" width="64">
        <div>Books</div>
      </div>
    </div>
  </div>
</div>